<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About page</title>
      <link rel="stylesheet" href="css/style.css">  

</head>
<body>
    <div class="header">
        <img src="img/menu.png" alt="" id="menuIcon">
        <div class="logo">
            <img src="img/imrantextolgo-removebg-preview.png" alt="">
        </div>
        <div class="menu-box" id="menuBox">
        
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
    
                <li><a href="projects">projects</a></li>
                <li><a href="contact">Contact us</a></li>
            </ul>
        </div>
            
  </div>






 <div id="about">
      <div class="con">
        <div class="row">
          <div class="about-col-1">
            <!-- <img src="img/tumnail for second video.png" alt> -->
          </div>
          <div class="about-col-2">
            <h1 class="sub-tittle">About Me</h1>
            <p class="para">Hi, I'm Imran Aly, currently pursuing my Bachelor of Computer Applications (BCA) at SVIET College. I'm passionate about technology and have a keen interest in web development and programming.</p>
            <div class="tab-tittles">
              <p class="tab-links active-links" onclick="opentab('skills')">Skills</p>
              <p class="tab-links" onclick="opentab('exprience')">Exprience</p>
              <p class="tab-links" onclick="opentab('education')">Education</p>
            </div>

            <div class="tab-content active-tab" id="skills">
              <ul>
                <li><span>UI/UX</span><br>Designing Web/Interface</li>
                <li><span>Web Devlopment</span><br>Designing Web App</li>
                <li><span>App Devlopment</span><br>Designing Andriod App</li>

              </ul>
            </div>
            <div class="tab-content" id="exprience">
              <ul>
                <li><span> in 2021</span><br> teaching experience,</li>
                <li><span> in 2022</span><br>worked at Amzon as a fronend dev...</li>
                <li><span>in 2023</span><br>worked at netflix as a database
                  eng..</li>

              </ul>
            </div>
            <div class="tab-content" id="education">
              <ul>
                <li><span>10Th</span><br>passed from bihar board patna</li>
                <li><span> 12Th</span><br>passed from bihar board patna</li>
                <li><span>BCA</span><br>Doing My Bca from Sviet</li>

              </ul>
            </div>

          </div>

        </div>

      </div>

    </div>


 {{!-- <div class="copyright">
        <p>@copyright this portfolio is made by imran!</p>
      </div> --}}







    <script>




var tablinks = document.getElementsByClassName('tab-links');
var tabcontents = document.getElementsByClassName('tab-content');

function opentab(tabname) {
  for (tablink of tablinks) {
    tablink.classList.remove("active-links"); // Corrected class name
  }

  for (tabcontent of tabcontents) {
    tabcontent.classList.remove("active-tab");
  }

  event.currentTarget.classList.add("active-links"); // Corrected class name
  document.getElementById(tabname).classList.add("active-tab");
}


</script>








<script>
      let menuBox = document.getElementById("menuBox"); // Change to "menuBox" (capital B)
let menuIcon = document.getElementById("menuIcon"); // Change to "menuIcon" (capital I)

menuIcon.onclick = function () {
    menuBox.classList.toggle("open-menu"); // Change to "menuBox" (capital B)

    if (menuBox.classList.contains("open-menu")) {
        menuIcon.src = "img/close.png";
    } else {
        menuIcon.src = "img/menu.png";
    }
}
</script>




































</body>
</html>