<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="css/style.css">  

</head>
    <div class="header">
        <img src="img/menu.png" alt="" id="menuIcon">
        <div class="logo">
            <img src="img/imrantextolgo-removebg-preview.png" alt="">
        </div>
        <div class="menu-box" id="menuBox">
        
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
    
                <li><a href="projects">projects</a></li>
                <li><a href="contact">Contact us</a></li>
            </ul>
        </div>
            
  </div>


  <section id="home">
      <div class="imran">
          <p class="int"> web developer</p>
          <h1> Hi, i'm <span>Imran</span><br> From Bihar</h1>
  </div>
  </section>
  
{{!-- ......................about....................... --}}

 <div id="about">
      <div class="con">
        <div class="row">
          <div class="about-col-1">
            <!-- <img src="img/tumnail for second video.png" alt> -->
          </div>
          <div class="about-col-2">
            <h1 class="sub-tittle">About Me</h1>
            <p class="para">Hi, I'm Imran Aly, currently pursuing my Bachelor of Computer Applications (BCA) at SVIET College. I'm passionate about technology and have a keen interest in web development and programming.</p>
            <div class="tab-tittles">
              <p class="tab-links active-links" onclick="opentab('skills')">Skills</p>
              <p class="tab-links" onclick="opentab('exprience')">Exprience</p>
              <p class="tab-links" onclick="opentab('education')">Education</p>
            </div>

            <div class="tab-content active-tab" id="skills">
              <ul>
                <li><span>UI/UX</span><br>Designing Web/Interface</li>
                <li><span>Web Devlopment</span><br>Designing Web App</li>
                <li><span>App Devlopment</span><br>Designing Andriod App</li>

              </ul>
            </div>
            <div class="tab-content" id="exprience">
              <ul>
                <li><span> in 2021</span><br> teaching experience,</li>
                <li><span> in 2022</span><br>worked at Amzon as a fronend dev...</li>
                <li><span>in 2023</span><br>worked at netflix as a database
                  eng..</li>

              </ul>
            </div>
            <div class="tab-content" id="education">
              <ul>
                <li><span>10Th</span><br>passed from bihar board patna</li>
                <li><span> 12Th</span><br>passed from bihar board patna</li>
                <li><span>BCA</span><br>Doing My Bca from Sviet</li>

              </ul>
            </div>

          </div>

        </div>

      </div>

    </div>



 <!-- .........................................services.................................................... -->

    <div id="services">
      <div class="conatiner">
        <h1 class="sub-tittle">My Services</h1>
        <div class="services-list">
          <div>
            <i class="fa-solid fa-code"></i>
            <h2>web Designing</h2>
            <p>Web design is a dynamic field that continuously evolves to meet changing user expectations and technological advancements. Effective web design not only creates a visually pleasing website but also ensures a positive user experience and contributes to the site's overall success.</p>
            <a href="#">Learn More</a>
          </div>

          <div>
            <i class="fa-solid fa-crop"></i>
            <h2>Learn AI</h2>
            <p> learning about the uses of AI is essential because it empowers individuals to make informed decisions, pursue career opportunities, contribute to innovation, and engage in discussions about the ethical and societal implications of AI.</p>
            <a href="#">Learn More</a>
          </div>
          <div>
            <i class="fa-brands fa-app-store-ios"></i>
            <h2>Android development </h2>
            <p>It offers a rewarding career path for those interested in creating mobile applications and reaching a global audience of Android users</p>
            <a href="#">Learn More</a>
          </div>

        </div>

      </div>

    </div>

    <!-- .............................................portfolio..................................... -->

    <div id="portfolio">
      <div class="conatiner">
        <h1 class="sub-tittle">My Works</h1>
        <div class="work-list">
          <div class="work">
            <img src="img/pexels-andrea-piacquadio-842554.jpg" width="350px"
              height="350px" alt>
            <div class="layer">
              <h3>Social media App</h3>
              <p> This form of marketing leverages the vast user base and engagement potential of social media to increase the visibility, downloads, and user engagement of a mobile app. Here are some key aspects of social app marketing:

              </p>
              <a href="#"><i class="fa-regular fa-square-arrow-up-right"></i></a>
            </div>
          </div>

          <div class="work">
            <img src="img/pexels-andrea-piacquadio-925786 (1).jpg" width="350px"
              height="350px" alt>
            <div class="layer">
              <h3>Digita marketing</h3>
              <p> Running paid advertising campaigns on search engines (e.g., Google Ads) or social media platforms (e.g., Facebook Ads) where advertisers pay a fee each time their ad is clicked.</p>
              <a href="#"><i class="fa-regular fa-square-arrow-up-right"></i></a>
            </div>
          </div>
          <div class="work">
            <img src="img/pexels-andrea-piacquadio-842554.jpg" width="350px"
              height="350px" alt>
            <div class="layer">
              <h3>E-commerce Platforms:</h3>
              <p>Many online businesses utilize e-commerce platforms like Shopify, WooCommerce (for WordPress), Magento, or BigCommerce to set up and manage their online stores. T</p>
              <a href="#"><i class="fa-regular fa-square-arrow-up-right"></i></a>
            </div>
          </div>

        </div>
        <a href="#" class="btn">See more</a>
      </div>

    </div>
    <!-- .............................................................................................................. -->

    <div id="contact">
      <div class="conatiner">
        <div class="row">
          <div class="contact-left">
            <h1 class="sub-tittle">Contact me</h1>
            <p><i class="fa-regular fa-paper-plane"></i>imranmd05012002@gmail.com</p>
            <p><i class="fa-solid fa-phone"></i>6209410566</p>
            <div class="social-icons">
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <a href="img/imrantextolgo-removebg-preview.png" download
              class="btn btn2">Download CV</a>
          </div>
          <div class="contact-right">
            <form action="/" method="post">
              <input type="text" name="name" id placeholder="Your Name" required>
              <input type="email" name="email" id placeholder="Your Email"
                required>
              <textarea name="message" id cols="30" rows="10"
                placeholder="Your message"></textarea>
              <button type="submit" class="btn btn2">submit</button>

            </form>
          </div>

        </div>

      </div>
      <div class="copyright">
        <p>@copyright this portfolio is made by imran!</p>
      </div>
    </div>

   
   
   
   
    <script>




var tablinks = document.getElementsByClassName('tab-links');
var tabcontents = document.getElementsByClassName('tab-content');

function opentab(tabname) {
  for (tablink of tablinks) {
    tablink.classList.remove("active-links"); // Corrected class name
  }

  for (tabcontent of tabcontents) {
    tabcontent.classList.remove("active-tab");
  }

  event.currentTarget.classList.add("active-links"); // Corrected class name
  document.getElementById(tabname).classList.add("active-tab");
}


</script>












































































































































































































<script>
      let menuBox = document.getElementById("menuBox"); // Change to "menuBox" (capital B)
let menuIcon = document.getElementById("menuIcon"); // Change to "menuIcon" (capital I)

menuIcon.onclick = function () {
    menuBox.classList.toggle("open-menu"); // Change to "menuBox" (capital B)

    if (menuBox.classList.contains("open-menu")) {
        menuIcon.src = "img/close.png";
    } else {
        menuIcon.src = "img/menu.png";
    }
}
</script>









        
</body>
</html>